/* src/index.css */
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #030005;
  background-image: 
    linear-gradient(rgba(168, 85, 247, 0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(168, 85, 247, 0.04) 1px, transparent 1px);
  background-size: 40px 40px;
  
  color: #ffffff;
  font-family: monospace;
}